{%- liquid
  assign fetch_priority = 'auto'
-%}
{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  .section-{{ section.id }}-padding .contact-tab-item.active {
    border-color: {{ section.settings.active_border_color }}!important;
  }
    #shopify-section-{{ section.id }} .button:after {
        box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 var(--buttons-border-width) {{ section.settings.btn_bg }};
      }
      #shopify-section-{{ section.id }} .button:hover:after {
      box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text),var(--border-opacity)),0 0 0 calc(var(--buttons-border-width) + 1px) {{ section.settings.btn_bg }};
    }
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}
{% assign bg_color = section.settings.bg | color_to_rgb %}
{% assign opacity = section.settings.opacity | divided_by: 100.00 %}
{% assign opacityWithEndBracket = ', ' | append: opacity | append: ')' %}
{% assign rgba = bg_color | replace: 'rgb', 'rgba' | replace: ')', opacityWithEndBracket %}
<div
  class="section-contact_tab"
  {% if section.settings.bg != blank %}
    style="background-color: {{ rgba }}"
  {% endif %}
>
  <div class="page-width section-{{ section.id }}-padding">
    <div class="contact-tab-list center">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'contact' %}
            <div
              class="contact-tab-item{% if forloop.first %} active{% endif %}"
              style="border-radius: {{ section.settings.border_radius }}px; border-color: {{ section.settings.border_color }}"
            >
              {% if block.settings.image != blank %}
                <div class="contact-tab-item-img">
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                </div>
              {% endif %}
              {% if block.settings.title != blank %}
                <{{ section.settings.heading_tag }}
                  class="contact-tab-item-title {{ section.settings.heading_size }}{% if section.settings.second_font %} second-font{% endif %}"
                  style="font-weight: {{ section.settings.heading_weight }}; color: {{ section.settings.heading_color }}"
                >
                  {{ block.settings.title }}
                </{{ section.settings.heading_tag }}>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="contact-tab-item-text rte" style="color: {{ section.settings.text_color }}">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          {% when 'whatsapp' %}
            <div
              class="contact-tab-item{% if forloop.first %} active{% endif %}"
              style="border-radius: {{ section.settings.border_radius }}px; border-color: {{ section.settings.border_color }}"
            >
              {% if block.settings.image != blank %}
                <div class="contact-tab-item-img">
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                </div>
              {% endif %}
              {% if block.settings.title != blank %}
                <{{ section.settings.heading_tag }}
                  class="contact-tab-item-title {{ section.settings.heading_size }}{% if section.settings.second_font %} second-font{% endif %}"
                  style="font-weight: {{ section.settings.heading_weight }}; color: {{ section.settings.heading_color }}"
                >
                  {{ block.settings.title }}
                </{{ section.settings.heading_tag }}>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="contact-tab-item-text rte" style="color: {{ section.settings.text_color }}">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          {% when 'telephone' %}
            <div
              class="contact-tab-item{% if forloop.first %} active{% endif %}"
              style="border-radius: {{ section.settings.border_radius }}px; border-color: {{ section.settings.border_color }}"
            >
              {% if block.settings.image != blank %}
                <div class="contact-tab-item-img">
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                </div>
              {% endif %}
              {% if block.settings.title != blank %}
                <{{ section.settings.heading_tag }}
                  class="contact-tab-item-title {{ section.settings.heading_size }}{% if section.settings.second_font %} second-font{% endif %}"
                  style="font-weight: {{ section.settings.heading_weight }}; color: {{ section.settings.heading_color }}"
                >
                  {{ block.settings.title }}
                </{{ section.settings.heading_tag }}>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="contact-tab-item-text rte" style="color: {{ section.settings.text_color }}">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    <div class="contact-tab-content">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'contact' %}
            <div
              class="contact-tab-content-item{% if forloop.first %} active{% endif %}"
              style="border-color: {{ section.settings.active_border_color }}; border-radius: {{ section.settings.border_radius }}px;"
            >
              {% if block.settings.subtitle != blank %}
                <{{ section.settings.subtitle_tag }}
                  class="contact-tab-content-subtitle {{ section.settings.subtitle_size }}{% if section.settings.subtitle_second_font %} second-font{% endif %}"
                  style="color: {{ section.settings.subtitle_color }}; font-weight: {{ section.settings.subtitle_weight }};"
                >
                  {{ block.settings.subtitle }}
                </{{ section.settings.subtitle_tag }}>
              {% endif %}
              {% if block.settings.content != blank %}
                <div class="contact-tab-content-des rte" style="color: {{ section.settings.text_color }}">
                  {{ block.settings.content }}
                </div>
              {% endif %}
              {% if block.settings.enable_contact %}
                <div class="contact-tab-form">
                  {%- form 'contact', id: 'ContactForm' -%}
                    <div class="contact_fields">
                      <div class="contact_field">
                        <label for="firstname">Vorname*</label>
                        <input type="text" id="firstname" name="contact[First Name]" required>
                      </div>
                      <div class="contact_field">
                        <label for="lastname">Nachname*</label>
                        <input type="text" id="lastname" name="contact[Last Name]" required>
                      </div>
                    </div>
                    <div class="contact_field">
                      <label for="email">E-Mail*</label>
                      <input type="email" id="email" name="contact[email]" required>
                    </div>
                    <div class="contact_field">
                      {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                      {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                      {%- endcapture -%}

                      <span class="field__label-choice">Bitte wählen Sie den Grund Ihrer Nachricht</span>
                      <div class="radio-list">
                        <input
                          type="radio"
                          id="order"
                          name="contact[Subject]"
                          value="Ihre Bestellung"
                          required
                          class="hidden"
                        >
                        <label for="order">
                          {% if block.settings.icon1 != blank %}
                            {{
                              block.settings.icon1
                              | image_url: width: 1500
                              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                            }}
                          {% endif %}
                          <span>Ihre Bestellung</span>
                        </label>
                        <input
                          type="radio"
                          id="household"
                          name="contact[Subject]"
                          value="Haushaltsprodukte"
                          class="hidden"
                        >
                        <label for="household">
                          {% if block.settings.icon2 != blank %}
                            {{
                              block.settings.icon2
                              | image_url: width: 1500
                              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                            }}
                          {% endif %}
                          <span>Haushaltsprodukte</span></label
                        >
                        <input type="radio" id="camping" name="contact[Subject]" value="Campingprodukte" class="hidden">
                        <label for="camping">
                          {% if block.settings.icon3 != blank %}
                            {{
                              block.settings.icon3
                              | image_url: width: 1500
                              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                            }}
                          {% endif %}
                          <span>Campingprodukte</span></label
                        >

                        <input
                          type="radio"
                          id="feedback"
                          name="contact[Subject]"
                          value="Anregung/Kritik"
                          class="hidden"
                        >
                        <label for="feedback">
                          {% if block.settings.icon4 != blank %}
                            {{
                              block.settings.icon4
                              | image_url: width: 1500
                              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                            }}
                          {% endif %}
                          <span>Anregung/Kritik</span></label
                        >

                        <input type="radio" id="others" name="contact[Subject]" value="Sonstiges" class="hidden">
                        <label for="others">
                          {% if block.settings.icon5 != blank %}
                            {{
                              block.settings.icon5
                              | image_url: width: 1500
                              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                            }}
                          {% endif %}
                          <span>Sonstiges</span></label
                        >
                      </div>
                    </div>
                    <div class="contact_fields">
                      <div class="contact_field">
                        <label for="customer-number">Kundennummer (falls verfügbar)</label>
                        <input type="text" id="customer-number" name="contact[customer-number]">
                      </div>

                      <div class="contact_field">
                        <label for="order-number">Bestellnummer (falls verfügbar)</label>
                        <input type="text" id="order-number" name="contact[order-number]">
                      </div>
                    </div>
                    <div class="contact_field">
                      <label for="message">Nachricht*</label>
                      <textarea id="message" name="contact[Comment]" required></textarea>
                    </div>
                    <div class="contact_button">
                      <button
                        type="submit"
                        class="button button--primary"
                        style="background-color: {{ section.settings.btn_bg }}; color: {{ section.settings.btn_color }}"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <path fill="currentColor" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                        </svg>
                        Senden
                      </button>
                    </div>
                  {%- endform -%}
                </div>
              {% endif %}
            </div>
          {% when 'whatsapp' %}
            <div
              class="contact-tab-content-item{% if forloop.first %} active{% endif %}"
              style="border-color: {{ section.settings.active_border_color }}; border-radius: {{ section.settings.border_radius }}px;"
            >
              {% if block.settings.subtitle != blank %}
                <{{ section.settings.subtitle_tag }}
                  class="contact-tab-content-subtitle {{ section.settings.subtitle_size }}{% if section.settings.subtitle_second_font %} second-font{% endif %}"
                  style="color: {{ section.settings.subtitle_color }}; font-weight: {{ section.settings.subtitle_weight }};"
                >
                  {{ block.settings.subtitle }}
                </{{ section.settings.subtitle_tag }}>
              {% endif %}
              {% if block.settings.content != blank %}
                <div class="contact-tab-content-des rte" style="color: {{ section.settings.text_color }}">
                  {{ block.settings.content }}
                </div>
              {% endif %}
              {% if block.settings.barcode != blank %}
                <div class="contact-tab-content-barcode">
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
                  {{
                    block.settings.barcode
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                </div>
              {% endif %}
              {% if block.settings.btn_text != blank %}
                <div class="contact-tab-whatsapp">
                  <a
                    href="{{ block.settings.btn_url }}"
                    class="button button--primary"
                    target="_blank"
                    style="background-color: {{ section.settings.btn_bg }}; color: {{ section.settings.btn_color }}"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                      <path fill="currentColor" d="M208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 38.6 14.7 74.3 39.6 103.4c-3.5 9.4-8.7 17.7-14.2 24.7c-4.8 6.2-9.7 11-13.3 14.3c-1.8 1.6-3.3 2.9-4.3 3.7c-.5 .4-.9 .7-1.1 .8l-.2 .2s0 0 0 0s0 0 0 0C1 327.2-1.4 334.4 .8 340.9S9.1 352 16 352c21.8 0 43.8-5.6 62.1-12.5c9.2-3.5 17.8-7.4 25.2-11.4C134.1 343.3 169.8 352 208 352zM448 176c0 112.3-99.1 196.9-216.5 207C255.8 457.4 336.4 512 432 512c38.2 0 73.9-8.7 104.7-23.9c7.5 4 16 7.9 25.2 11.4c18.3 6.9 40.3 12.5 62.1 12.5c6.9 0 13.1-4.5 15.2-11.1c2.1-6.6-.2-13.8-5.8-17.9c0 0 0 0 0 0s0 0 0 0l-.2-.2c-.2-.2-.6-.4-1.1-.8c-1-.8-2.5-2-4.3-3.7c-3.6-3.3-8.5-8.1-13.3-14.3c-5.5-7-10.7-15.4-14.2-24.7c24.9-29 39.6-64.7 39.6-103.4c0-92.8-84.9-168.9-192.6-175.5c.4 5.1 .6 10.3 .6 15.5z"/>
                    </svg>
                    {{ block.settings.btn_text }}
                  </a>
                  <div id="whatsapp-status">Online</div>
                </div>
              {% endif %}
            </div>
            <script>
              function arbeitszeitenStatus(p_status) {
                const jetzt = new Date();
                const wochentag = jetzt.getDay();
                const stunden = jetzt.getHours();
                const minuten = jetzt.getMinutes();

                // Montag bis Donnerstag
                if (wochentag >= 1 && wochentag <= 4) {
                  if (
                    (stunden === 8 && minuten >= 45) ||
                    (stunden > 8 && stunden < 12) ||
                    (stunden === 12 && minuten === 0) ||
                    (stunden >= 13 && stunden < 16)
                  ) {
                    p_status.innerHTML = "<span style='color: green'>Online</span>";
                    return;
                  }
                }

                // Freitag
                if (wochentag === 5) {
                  if (
                    (stunden === 8 && minuten >= 45) ||
                    (stunden > 8 && stunden < 12) ||
                    (stunden === 12 && minuten === 0) ||
                    (stunden === 13 && minuten < 30) ||
                    (stunden === 14 && minuten === 0) ||
                    (stunden === 14 && minuten === 30)
                  ) {
                    p_status.innerHTML = "<span style='color: green'>Online</span>";
                    return;
                  }
                }

                p_status.innerHTML = "<span style='color: red'>Offline</span>";
              }

              const p_status = document.querySelector('#whatsapp-status');
              arbeitszeitenStatus(p_status);
            </script>
          {% when 'telephone' %}
            <div
              class="contact-tab-content-item{% if forloop.first %} active{% endif %}"
              style="border-color: {{ section.settings.active_border_color }}; border-radius: {{ section.settings.border_radius }}px;"
            >
              {% if block.settings.subtitle != blank %}
                <{{ section.settings.subtitle_tag }}
                  class="contact-tab-content-subtitle {{ section.settings.subtitle_size }}{% if section.settings.subtitle_second_font %} second-font{% endif %}"
                  style="color: {{ section.settings.subtitle_color }}; font-weight: {{ section.settings.subtitle_weight }};"
                >
                  {{ block.settings.subtitle }}
                </{{ section.settings.subtitle_tag }}>
              {% endif %}
              {% if block.settings.content != blank %}
                <div class="contact-tab-content-des rte" style="color: {{ section.settings.text_color }}">
                  {{ block.settings.content }}
                </div>
              {% endif %}
              {% if block.settings.btn_text != blank %}
                <div class="contact-tab-telephone">
                  <a
                    href="{{ block.settings.btn_url }}"
                    class="button button--primary"
                    style="color: {{ section.settings.btn_color }}; background-color: {{ section.settings.btn_bg }};"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                    </svg>
                    {{ block.settings.btn_text }}
                  </a>
                </div>
              {% endif %}
              {% if block.settings.bottom_content != blank %}
                <div class="contact-tab-content-bottom_des rte" style="color: {{ section.settings.text_color }}">
                  {{ block.settings.bottom_content }}
                </div>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Tab",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color",
      "default": "#003e5f"
    },
    {
      "type": "range",
      "id": "opacity",
      "label": "Background Color Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Tab Style"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#d1d1d1"
    },
    {
      "type": "color",
      "id": "active_border_color",
      "label": "Active Border Color",
      "default": "#003e5f"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border Radius",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 3,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ],
      "default": "700",
      "label": "Heading font weight"
    },
    {
      "type": "checkbox",
      "id": "second_font",
      "label": "Second Font"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#003e5f"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#616161"
    },
    {
      "type": "checkbox",
      "id": "text_second_font",
      "label": "Text Second Font",
      "default": true
    },
    {
      "type": "select",
      "id": "subtitle_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "subtitle_weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ],
      "default": "700",
      "label": "Subtitle font weight"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle Color",
      "default": "#003e5f"
    },
    {
      "type": "checkbox",
      "id": "subtitle_second_font",
      "label": "Subtitle Second Font",
      "default": true
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "btn_bg",
      "label": "Button Background Color",
      "default": "#0070c9"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "contact",
      "name": "Contact",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Kontaktformular"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Wir beantworten Ihr Anliegen Werktags innerhalb von 24h.</p>"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Manche Anliegen lassen sich besser in einer persönlichen Nachricht klären!"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Contact Description",
          "default": "<p>Bei individuellen Fragen senden Sie uns gerne eine Nachricht über unser Kontaktformular.</p>"
        },
        {
          "type": "checkbox",
          "id": "enable_contact",
          "label": "Enable Contact",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "icon1",
          "label": "Icon1"
        },
        {
          "type": "image_picker",
          "id": "icon2",
          "label": "Icon2"
        },
        {
          "type": "image_picker",
          "id": "icon3",
          "label": "Icon3"
        },
        {
          "type": "image_picker",
          "id": "icon4",
          "label": "Icon4"
        },
        {
          "type": "image_picker",
          "id": "icon5",
          "label": "Icon5"
        }
      ]
    },
    {
      "type": "whatsapp",
      "name": "Whatsapp",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "WhatsApp"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Chatten Sie direkt mit unserem Kundenservice.</p>"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Der direkte Kontakt mit unserem WhatsApp Kundenservice"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Contact Description",
          "default": "<p>Sie erreichen uns über die Nummer +49 (0) 7420 920 921-1</p>"
        },
        {
          "type": "image_picker",
          "id": "barcode",
          "label": "Barcode"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "WhatsApp Chat"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        }
      ]
    },
    {
      "type": "telephone",
      "name": "Telephone",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Telefon"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Sind noch Fragen offen? Rufen Sie uns gerne an. </p>"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Unser Kundenservice ist auch telefonisch für sie erreichbar"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Contact Description",
          "default": "<p>Bitte kontaktieren Sie uns über die Nummer +49 (0) 7420 920 921-0</p>"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Jetzt anrufen"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
        {
          "type": "richtext",
          "id": "bottom_content",
          "label": "Bottom Contact Description",
          "default": "<p>Schreiben Sie uns auch gerne eine E-Mail:</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Tab",
      "blocks": [
        {
          "type": "contact"
        },
        {
          "type": "whatsapp"
        },
        {
          "type": "telephone"
        }
      ]
    }
  ]
}
{% endschema %}
