{%- liquid
  assign fetch_priority = 'auto'
-%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding .custom_contact-image img {
    max-width: {{ section.settings.image_width }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-custom_contact section-{{ section.id }}-padding">
  <div
    class="isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    style="background-color: {{ section.settings.background_color }};"
  >
    <div class="page-width">
      <div class="wrapper-custom_contact center{% if section.settings.enable_border %} content_border{% endif %}">
        {%- if section.settings.image != blank -%}
          <div class="custom_contact-image">
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
            }}
          </div>
        {%- endif -%}
        {%- if section.settings.heading != blank -%}
          <{{ section.settings.heading_tag }}
            class="custom_contact-heading inline-richtext {{ section.settings.heading_size }}{% if section.settings.enable_heading_second_font %} second-font{% endif %}"
            style="color: {{ section.settings.heading_color }};"
          >
            {{ section.settings.heading }}
          </{{ section.settings.heading_tag }}>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div
            class="custom_contact-text rte{% if section.settings.enable_text_second_font %} second-font{% endif %}"
            style="color: {{ section.settings.text_color }};"
          >
            {{ section.settings.text }}
          </div>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <div
            class="custom_contact-btns"
          >
            {%- for block in section.blocks -%}
              <div
                class="custom_contact-item"
                style="border-color: {{ section.settings.item_border_color }};background-color: {{ section.settings.item_bg }}"
              >
                {%- if block.settings.url != blank -%}
                  <a href="{{ block.settings.url }}">
                {%- endif -%}
                {%- if block.settings.image != blank -%}
                  <div class="custom_contact_item-image">
                    {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                    {%- capture sizes -%}
                                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                                    {%- endcapture -%}
                    {{
                      block.settings.image
                      | image_url: width: 1500
                      | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                    }}
                  </div>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div
                    class="custom_contact_item-text second-font"
                    style="color: {{ section.settings.item_text_color }}"
                  >
                    {{ block.settings.text }}
                  </div>
                {%- endif -%}
                {%- if block.settings.url != blank -%}
                  </a>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Contact",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#fafafa"
    },
    {
      "type": "checkbox",
      "id": "enable_border",
      "label": "Enable Content Border"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "Image Width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 150
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#616161"
    },
    {
      "type": "checkbox",
      "id": "enable_heading_second_font",
      "label": "Enable Heading Second Font"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Hier erältst du wichtige Inforamtionen zu unseren Trinkwasserfiltern<br> oder kannst mit uns in Kontakt treten.&nbsp;</p>"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#616161"
    },
    {
      "type": "checkbox",
      "id": "enable_text_second_font",
      "label": "Enable Text Second Font",
      "default": true
    },
    {
      "type": "header",
      "content": "Item Style"
    },
    {
      "type": "color",
      "id": "item_bg",
      "label": "Item Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "item_text_color",
      "label": "Item Text Color",
      "default": "#003e5f"
    },
    {
      "type": "color",
      "id": "item_border_color",
      "label": "Item Border Color",
      "default": "#003e5f"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Trinkwasserfilter"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Contact",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
