{%- if section.blocks.size > 0 -%}
  {%- assign fetch_priority = 'auto' -%}

  <div class="section-image_text_slider color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
      <div class="wrapper-image_text_slider swiper-container isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div
          class="slider-image_text_slider swiper-wrapper"
        >
          {%- for block in section.blocks -%}
            <div
              class="item-image_text_slider swiper-slide"
            >
              <div class="wrapper-item_image_text_slider second-font">
                {%- if block.settings.url != blank -%}
                  <a
                    {% if block.settings.traget_blank %}
                      target="_blank"
                    {% endif %}
                    href="{{ block.settings.url }}"
                  >
                {%- endif -%}
                {%- if block.settings.image != blank -%}
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}

                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                {%- endif -%}
                {% if block.settings.text != blank %}
                  <div class="text-image_text_slider">{{ block.settings.text }}</div>
                {% endif %}
                {%- if block.settings.url != blank -%}
                  </a>
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
<script>
  var mySwiper = new Swiper('#shopify-section-{{ section.id }} .wrapper-image_text_slider', {
    speed: {{ section.settings.slide_speed |  times: 1000 |  split: "." | first }},
    direction: 'horizontal',
    autoplay: {
      delay: 2000,
    },
    loop: false,
    slidesPerView: {{ section.blocks.size }},
    breakpoints: {
      989: {
        slidesPerView: 1,
        loop: true,
      },
    },
  });
</script>
{% schema %}
{
  "name": "Image Text Slider",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "slide_speed",
      "label": "Slide Speed",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "unit": "s",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "30 TAGE RÜCKGABERECHT"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "checkbox",
          "id": "traget_blank",
          "label": "Target Blank"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text Slider",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
