{%- liquid
  assign fetch_priority = 'auto'
-%}
{%- style -%}
  {%- if section.settings.image != blank -%}
    @media only screen and (min-width: 990px) {
        #shopify-section-{{ section.id }} .wrapper-image_multi_text {
            background-image: url({{ section.settings.image | img_url: "master" }});
        }
    }
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
  {%- endif -%}
{%- endstyle -%}
<div class="section-image_multi_text section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="page-width">
    <div class="wrapper-image_multi_text">
      <div class="media-image_multi_text">
        {%- if section.settings.mobile_image != blank -%}
          {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
          {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                {%- endcapture -%}
          {{
            section.settings.mobile_image
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
          }}
        {%- else -%}
          {%- if section.settings.image != blank -%}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
            }}
          {%- endif -%}
        {%- endif -%}
      </div>
      <div class="content-image_multi_text">
        {%- if section.settings.title != blank -%}
          <{{ section.settings.heading_tag }} class="title-image_multi_text rte {{ section.settings.title_size }}">
            {{ section.settings.title }}
          </{{ section.settings.heading_tag }}>
        {%- endif -%}
        {%- if section.settings.sub_title != blank -%}
          <h2 class="subtitle-image_multi_text rte {{ section.settings.subtitle_size }}">
            {{ section.settings.sub_title }}
          </h2>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="text-image_multi_text rte second-font">
            {{ section.settings.text }}
          </div>
        {%- endif -%}
        {%- if section.settings.btn_text != blank -%}
          <a
            {% if section.settings.btn_text == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ section.settings.btn_url }}"
            {% endif %}
            class="button button--primary"
            {{ section.shopify_attributes }}
          >
            {{ section.settings.btn_text | escape }}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path fill="currentColor" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path>
            </svg>
          </a>
        {% endif %}
        {%- if section.settings.info_text != blank -%}
          <div class="info_text-image_multi_text rte inline-richtext second-font">
            {{ section.settings.info_text }}
          </div>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <div class="info_list">
            {%- for block in section.blocks -%}
              <div class="item-info_list">
                {%- if block.settings.url != blank -%}
                  <a href="{{ block.settings.url }}">
                {%- endif -%}
                {%- if block.settings.image != blank -%}
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <p class="info_list_text rte inline-richtext">{{ block.settings.text }}</p>
                {%- endif -%}
                {%- if block.settings.url != blank -%}
                  </a>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image Multi Text",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<p>ALB <br>WASSERFILTER</p>"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "sub_title",
      "label": "Subtitle",
      "default": "<p>Für Trinkwasser, Camping und Dusche – Made in Germany</p>"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Unsere modularen Wasserfilter-Systeme reduzieren diverse Schadstoffe, filtern schlechten Geschmack und Gerüche und halten zuverlässig schädliche Keime und Bakterien aus dem Leitungswasser zurück.</p>"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "ButtonText",
      "default": "Zum Shop</p>"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "inline_richtext",
      "id": "info_text",
      "label": "Information Text",
      "default": "Unsere Produktkategorien:"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Trinkwasserfilter"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Multi Text",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
