{%- if section.blocks.size > 0 -%}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  <div class="section-image_text_list color-{{ block.settings.color_scheme }} gradient">
    <div class="page-width">
      <slider-component class="wrapper-image_text_list isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="slider-image_text-list slider slider--tablet" aria-label="Slider">
          {%- for block in section.blocks -%}
            <div class="item-image_text_list slider__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              <div class="wrapper-item_image_text_list">
                {%- if block.settings.image != blank -%}
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}

                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                {%- endif -%}
                {% if block.settings.text != blank %}
                  <div class="text-image_text_list">{{ block.settings.text }}</div>
                {% endif %}
              </div>
            </div>
          {%- endfor -%}
          <div class="slider-buttons">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
            >
              {% render 'icon-caret' %}
            </button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ products_to_display }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
            >
              {% render 'icon-caret' %}
            </button>
          </div>
        </div>
      </slider-component>
    </div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Image Text List",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 3,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_slider",
      "label": "Enable Mobile Slider",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "30 TAGE RÜCKGABERECHT"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text List",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
