{%- if section.blocks.size > 0 -%}
  {%- assign fetch_priority = 'auto' -%}
  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    .section-{{ section.id }} .subtext {
      font-size: 10px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    .item-image_text_list {
      border-style: solid;
    }
  {%- endstyle -%}

  <div class="section-image_text_list section-{{ section.id }}-padding">
    {%- unless section.settings.full_width -%}
      <div class="page-width">
    {%- endunless -%}
    <div class="color-{{ section.settings.color_scheme }} gradient isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.full_width -%}
        <div class="page-width">
      {%- endif -%}
      <div class="wrapper-image_text_list{% if section.settings.image_white %} icon_white{% endif %} column{{ section.settings.column_count }}{% if section.settings.large_image %} large-image{% endif %}{% if section.settings.full_image %} full-image{% endif %}">
        {%- for block in section.blocks -%}
          <div
            class="item-image_text_list {{ section.settings.content_position }}"
            style="border-color: {{ block.settings.border_color }}; border-width: {{ block.settings.border_width }}px;"
          >
            {%- if block.settings.url != blank -%}
              <a href="{{ block.settings.url }}">
            {%- endif -%}
            {%- if block.settings.image != blank -%}
              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
              {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}

              {{
                block.settings.image
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
            {% if block.settings.title != blank %}
              <div
                class="title-image_text_list{% if section.settings.content_second_font %} second-font{% endif %} rte"
                {% if section.settings.title_color != ' blank' %}
                  style="color: {{ section.settings.title_color }}"
                {% endif %}
              >
                {{ block.settings.title }}
              </div>
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="text-image_text_list rte{% if section.settings.content_second_font %} second-font{% endif %}">
                {{ block.settings.text }}
              </div>
            {% endif %}
            {% if block.settings.subtext != blank %}
              <div class="text-image_text_list subtext rte{% if section.settings.content_second_font %} second-font{% endif %}">
                {{ block.settings.subtext }}
              </div>
            {% endif %}
            {%- if block.settings.url != blank -%}
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
      {%- if section.settings.full_width -%}
        </div>
      {%- endif -%}
    </div>
    {%- unless section.settings.full_width -%}
      </div>
    {%- endunless -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Image Text List",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#003e5f"
    },
    {
      "type": "range",
      "id": "column_count",
      "label": "Desktop Column Count",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width"
    },
    {
      "type": "checkbox",
      "id": "image_white",
      "label": "Image White"
    },
    {
      "type": "checkbox",
      "id": "large_image",
      "label": "Large Image"
    },
    {
      "type": "checkbox",
      "id": "full_image",
      "label": "Full Image"
    },
    {
      "type": "checkbox",
      "id": "content_second_font",
      "label": "Content Second Font"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>30 TAGE RÜCKGABERECHT</p>"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "label": "Subtext",
          "default": "<p>email@email.de</p>"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "border_width",
          "label": "Border Width",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "default": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text List",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
