{%- liquid
  assign fetch_priority = 'auto'
  if section.settings.image_ratio == '1_1'
    assign image_height = 100
  elsif section.settings.image_ratio == '2_3'
    assign image_height = 150
  elsif section.settings.image_ratio == '3_2'
    assign image_height = 66.66
  elsif section.settings.image_ratio == '16_9'
    assign image_height = 56.25
  elsif section.settings.image_ratio == '9_16'
    assign image_height = 177.77
  endif
-%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-post-product-list section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="wrapper-post-product-list isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {% if section.settings.heading != blank %}
        <{{ section.settings.heading_tag }}
          class="heading-post-product-list {{ section.settings.heading_size }}{% if section.settings.heading_second_font %} second-font{% endif %}"
          style="color: {{ section.settings.heading_color }}; font-weight: {{ section.settings.heading_weight }};"
        >
          {{ section.settings.heading }}
        </{{ section.settings.heading_tag }}>
      {% endif %}
      {% if section.blocks.size > 0 %}
        <div class="slide-post-product-list">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div
                  class="item-post-product swiper-slide"
                  style="border-color: {{ block.settings.border_color }}"
                >
                  <div class="item-wrapper-post-product">
                    {% if block.settings.content_url != blank %}
                      <a href="{{ block.settings.content_url }}">
                    {% endif %}
                    <div class="media-post-product" style="padding-bottom: {{ image_height }}%">
                      {% if block.settings.image != blank %}
                        {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                        {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                      {%- endcapture -%}

                        {{
                          block.settings.image
                          | image_url: width: 1500
                          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                        }}
                      {% else %}
                        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %}
                    </div>
                    {% if block.settings.content_url != blank %}
                      </a>
                    {% endif %}
                    <div class="content-post-product">
                      <div class="top-content-post-product">
                        {% if block.settings.content_url != blank %}
                          <a href="{{ block.settings.content_url }}">
                        {% endif %}
                        {% if block.settings.subtitle != blank %}
                          <div class="subtitle-post-product" style="color: {{ section.settings.subtitle_color }}">
                            {{ block.settings.subtitle }}
                          </div>
                        {% endif %}
                        {% if block.settings.title != blank %}
                          <{{ section.settings.title_tag }}
                            class="title-post-product {{ section.settings.title_size }}{% if section.settings.title_second_font %} second-font{% endif %}"
                            style="color: {{ section.settings.title_color }}; font-weight: {{ section.settings.title_weight }};"
                          >
                            {{ block.settings.title }}
                          </{{ section.settings.title_tag }}>
                        {% endif %}

                        {% if block.settings.text != blank %}
                          <div
                            class="text-post-product rte{% if section.settings.enable_second_font %} second-font{% endif %}"
                            style="color: {{ section.settings.content_color }}"
                          >
                            {{ block.settings.text }}
                          </div>
                        {% endif %}
                        {% if block.settings.content_url != blank %}
                          </a>
                        {% endif %}
                      </div>
                      {% if block.settings.btn_text != blank %}
                        <div class="btn-post-product">
                          <a
                            class="btn-second second-font"
                            href="{{ block.settings.btn_url }}"
                            style="color: {{ section.settings.btn_color }}"
                          >
                            {{- block.settings.btn_text }}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                              <path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                            </svg>
                          </a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  var mySwiper = new Swiper('#shopify-section-{{ section.id }} .swiper-container', {
    speed: 1000,
    direction: 'horizontal',
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    speed: 500,
    spaceBetween: 20,
    loop: false,
    slidesPerView: {{ section.settings.slide_count }},
    slidesPerGroup: 1,
    breakpoints: {
      {% if section.blocks.size > 2 %}
      1200: {
        slidesPerView: 2.3,
      },
      {% endif %}
      750: {
        slidesPerView: 1.3,
        centeredSlides: true,
        loop: true,
      },
    },
  });
</script>
{% schema %}
{
  "name": "Post & Product List",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Verwandte Artikel und Produkte"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Weight",
      "default": "700",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#003e5f"
    },
    {
      "type": "checkbox",
      "id": "heading_second_font",
      "label": "Heading Second Font"
    },
    {
      "type": "range",
      "id": "slide_count",
      "label": "Slide Count",
      "min": 1,
      "max": 6,
      "step": 0.1,
      "default": 3.3
    },
    {
      "type": "header",
      "content": "Item Style"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image Ratio",
      "options": [
        {
          "value": "1_1",
          "label": "1:1"
        },
        {
          "value": "2_3",
          "label": "2:3"
        },
        {
          "value": "3_2",
          "label": "3:2"
        },
        {
          "value": "16_9",
          "label": "16:9"
        },
        {
          "value": "9_16",
          "label": "9:16"
        }
      ],
      "default": "1_1"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle Color",
      "default": "#616161"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#616161"
    },
    {
      "type": "select",
      "id": "title_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "p",
      "label": "Title Tag"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "title_weight",
      "label": "Title Weight",
      "default": "700",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "title_second_font",
      "label": "Title Second Font"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color",
      "default": "#616161"
    },
    {
      "type": "checkbox",
      "id": "enable_second_font",
      "label": "Enable Content Second Font",
      "default": true
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Color",
      "default": "#003e5f"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "RATGEBER"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Wie misst man die Wasserqualität"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Entdecken Sie in unserem Ratgeber, warum ein niedriger TDS-Wert nicht unbedingt eine hohe Wasserqualität bedeutet und welche Faktoren stattdessen relevant sind.</p>"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Weiterlesen"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "url",
          "id": "content_url",
          "label": "Content URL"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border Color",
          "default": "#9b9b9b"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Post & Product List",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
