{%- liquid
  assign fetch_priority = 'auto'
-%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-post_list section-{{ section.id }}-padding">
  <div class="page-width isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="wrapper-post_list">
      {%- if section.settings.image != blank -%}
        <div class="image-post_list" style="max-width: {{ section.settings.image_width }}px">
          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
          {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}

          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
          }}
        </div>
      {%- endif -%}
      {%- if section.settings.heading != blank -%}
        <{{ section.settings.heading_tag }}
          class="heading-post_list center {{ section.settings.heading_size }}{% if section.settings.heading_second_font %} second-font{% endif %}"
          style="font-weight: {{ section.settings.heading_weight }}; color: {{ section.settings.heading_color }};"
        >
          {{ section.settings.heading }}
        </{{ section.settings.heading_tag }}>
      {%- endif -%}
      {%- if section.blocks.size > 0 -%}
        <div class="main-post_list desktop-{{ section.settings.desktop_item_count }}">
          {%- for block in section.blocks -%}
            <div class="item-post_list">
              <div class="item-wrapper-post_list">
                <div class="media-post_list" style="border-radius: {{ section.settings.image_border_radius }}px">
                  {%- if block.settings.post != blank -%}
                    <a href="{{ block.settings.post }}">
                  {%- endif -%}
                  {%- if block.settings.image != blank -%}
                    {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                    {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}

                    {{
                      block.settings.image
                      | image_url: width: 1500
                      | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                    }}
                  {%- else -%}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                  {%- if block.settings.post != blank -%}
                    </a>
                  {%- endif -%}
                </div>
                <div class="item-content-post_list">
                  {%- if block.settings.title != blank -%}
                    <h3>
                      {{ block.settings.title }}
                    </h3>
                  {%- endif -%}
                  {% if block.settings.text != blank %}
                    <div
                      class="text-post_list rte{%  if section.settings.text_second_font %} second-font{% endif %}"
                      style="color: {{ section.settings.text_color }}"
                    >
                      {{ block.settings.text }}
                    </div>
                  {% endif %}
                  {% if section.settings.btn_text != blank %}
                    <a
                      href="{{ block.settings.post }}"
                      class="btn-second second-font"
                      style="color: {{ section.settings.btn_color }};"
                    >
                      {{ section.settings.btn_text }}
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                      </svg>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Post List",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "Image Width",
      "min": 50,
      "max": 150,
      "step": 1,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Ratgeber Themen"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ],
      "default": "700"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#003e5f"
    },
    {
      "type": "checkbox",
      "id": "heading_second_font",
      "label": "Heading Second Font",
      "default": true
    },
    {
      "type": "header",
      "content": "Post Style"
    },
    {
      "type": "range",
      "id": "desktop_item_count",
      "label": "Desktop Item Count",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "label": "Image Border Radius",
      "min": 0,
      "max": 50,
      "default": 30,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h3"
    },
    {
      "type": "select",
      "id": "title_weight",
      "label": "Title Weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#003e5f"
    },
    {
      "type": "checkbox",
      "id": "title_second_font",
      "label": "Title Second Font",
      "default": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#616161"
    },
    {
      "type": "checkbox",
      "id": "text_second_font",
      "label": "Text Second Font",
      "default": true
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Weiterlesen"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Color",
      "default": "#003e5f"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "second_id",
          "label": "Second Id",
          "default": "wasser"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Unser Leitungswasser"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Das deutsche Trinkwasser gilt als das am besten überwachte Lebensmittel. Hier erfahren Sie mehr.</p>"
        },
        {
          "type": "url",
          "id": "post",
          "label": "Post"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Post List",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
