{%- liquid
  assign fetch_priority = 'auto'
-%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  #shopify-section-{{ section.id }} .button:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 var(--buttons-border-width) {{ section.settings.btn_bg }};
  }
  #shopify-section-{{ section.id }} .button:hover:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(255,255,255, calc(1 - 1.0 )), 0 0 0 calc(var(--buttons-border-width) + 1px) {{ section.settings.btn_bg }};
    --border-offset: 1.3px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-product_compare section-{{ section.id }}-padding">
  <div
    class="isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  >
    <div class="page-width">
      <div
        class="wrapper-product_compare list_option{{ section.settings.list_option }}"
        style="color: {{ section.settings.text_color }}"
      >
        {%- assign count = 0 -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {% when 'alb_comparison' %}
              <div class="item-product_compare item-alb_comparison{% if block.settings.subtitle1 != blank or block.settings.subtitle2 != blank %} item-alb_border{% endif %}">
                <div class="item-header">
                  {%- if block.settings.heading != blank -%}
                    <{{ block.settings.heading_tag }}
                      class="title-alb_comparison {{ block.settings.heading_size }}"
                      style="color: {{ block.settings.heading_color }};"
                    >
                      {{ block.settings.heading }}
                    </{{ block.settings.heading_tag }}>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div
                      class="text-alb_comparison text-item rte"
                    >
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                  {% if block.settings.subtitle1 != blank or block.settings.subtitle2 != blank %}
                    <div class="item-header-border"></div>
                  {% endif %}
                </div>
                <div class="item-list">
                  <div class="alb-item_list">
                    {%- for i in (1..4) -%}
                      {% capture image %}image{{i}}{% endcapture %}
                      {%- if block.settings[image] != blank -%}
                        <div class="item-content">
                          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                          {%- capture sizes -%}
                                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                                {%- endcapture -%}
                          {{
                            block.settings[image]
                            | image_url: width: 1500
                            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                          }}
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                  {% if block.settings.subtitle1 != blank or block.settings.subtitle2 != blank %}
                    <div class="alb-subtitles">
                      {% if block.settings.subtitle1 != blank %}
                        <div class="alb-subtitle column{{ block.settings.subtitle_range1 }}">
                          {{ block.settings.subtitle1 }}
                        </div>
                      {% endif %}
                      {% if block.settings.subtitle2 != blank %}
                        <div class="alb-subtitle column{{ block.settings.subtitle_range2 }}">
                          {{ block.settings.subtitle2 }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {%- when 'filter_properties' -%}
              {% assign count = count | plus: 1 %}
              <div class="item-product_compare item-filter_properties{% if count == 1 %} first-child{% endif %}">
                <div class="item-header{% if count == 1 %} small-hide{% endif %}">
                  {%- if block.settings.title != blank -%}
                    <div
                      class="title-item"
                    >
                      {{ block.settings.title }}
                    </div>
                  {%- endif -%}
                </div>
                <div class="item-list center">
                  {%- for i in (1..4) -%}
                    {% capture title %}title{{i}}{% endcapture %}
                    {%- if block.settings[title] != blank -%}
                      <div class="item-content">
                        {%- if block.settings[title] != blank -%}
                          <div class="title-item">{{ block.settings[title] }}</div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            {%- when 'filter_product_set' -%}
              <div class="item-product_compare item-filter_product_set">
                <div class="item-header">
                  {%- if block.settings.title != blank -%}
                    <div
                      class="title-item"
                    >
                      {{ block.settings.title }}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div
                      class="text-item rte"
                    >
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                </div>
                <div class="item-list center">
                  {%- for i in (1..4) -%}
                    {% capture image %}image{{i}}{% endcapture %}
                    {% capture product %}product{{i}}{% endcapture %}
                    {% capture text %}text{{i}}{% endcapture %}
                    {%- if block.settings[image] != blank or block.settings[product] != blank -%}
                      <div class="item-content">
                        {%- if block.settings[image] != blank -%}
                          <div class="item-img">
                            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                            {%- capture sizes -%}
                                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                                    {%- endcapture -%}
                            {{
                              block.settings[image]
                              | image_url: width: 1500
                              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                            }}
                          </div>
                        {%- endif -%}
                        {%- if block.settings[text] != blank -%}
                          <div class="item-text">{{ block.settings[text] }}</div>
                        {%- endif -%}
                        {%- if block.settings[product] != blank -%}
                          {%- assign product = block.settings[product] -%}
                          <div class="item-product">
                            <div class="item-price">
                              {{ product.selected_or_first_available_variant.price | money -}}
                              <span>€</span>
                            </div>
                            {%- if section.settings.show_button -%}
                              <a
                                {% if product.url == blank %}
                                  role="link" aria-disabled="true"
                                {% else %}
                                  href="{{ product.url }}"
                                {% endif %}
                                class="button button--primary second-font"
                                style="background-color: {{ section.settings.btn_bg }}; color: {{ section.settings.btn_color }}"
                              >
                                {{- section.settings.btn_text | escape -}}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                  <path fill="currentColor" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path>
                                </svg>
                              </a>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            {% when 'description' %}
              <div class="item-product_compare item-description rte">
                {{ block.settings.description }}
              </div>
            {% when 'filter_product' %}
              <div class="item-product_compare item-product">
                <div class="item-header">
                  {%- if block.settings.title != blank -%}
                    <div
                      class="title-item"
                    >
                      {{ block.settings.title }}
                    </div>
                  {%- endif -%}
                </div>
                <div class="item-list">
                  <div class="item-product_content">
                    {% if block.settings.image != blank %}
                      <div class="item-product_content-img">
                        {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                        {%- capture sizes -%}
                                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                                {%- endcapture -%}
                        {{
                          block.settings.image
                          | image_url: width: 1500
                          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                        }}
                      </div>
                    {% endif %}
                    <div class="item-product_des">
                      {% if block.settings.subtitle != blank %}
                        <div class="item-product-subtitle">{{ block.settings.subtitle }}</div>
                      {% endif %}
                      {% if block.settings.product != blank %}
                        {%- assign product = block.settings.product -%}
                        <div class="item-product-price">
                          {{ product.selected_or_first_available_variant.price | money -}}
                          <span>€</span>
                        </div>
                        {%- if section.settings.show_button -%}
                          <a
                            {% if product.url == blank %}
                              role="link" aria-disabled="true"
                            {% else %}
                              href="{{ product.url }}"
                            {% endif %}
                            class="button button--primary second-font"
                            style="background-color: {{ section.settings.btn_bg }}; color: {{ section.settings.btn_color }}"
                          >
                            {{- section.settings.btn_text | escape -}}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                              <path fill="currentColor" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path>
                            </svg>
                          </a>
                        {%- endif -%}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product Compare",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "list_option",
      "label": "List Option",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#2d2d2d"
    },
    {
      "type": "header",
      "content": "Button Style"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": true
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Kaufen"
    },
    {
      "type": "color",
      "id": "btn_bg",
      "label": "Button Background Color",
      "default": "#0081be"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "alb_comparison",
      "name": "ALB Comparision",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "p",
              "label": "P"
            }
          ],
          "default": "h2",
          "label": "Heading Tag"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Extra Samll"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#616161"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Set mit Gehäuse und Kartusche</p>"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image3"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image4"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle1",
          "label": "Subtitle1"
        },
        {
          "type": "range",
          "id": "subtitle_range1",
          "label": "Subtitle Range1",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 2
        },
        {
          "type": "inline_richtext",
          "id": "subtitle2",
          "label": "Subtitle2"
        },
        {
          "type": "range",
          "id": "subtitle_range2",
          "label": "Subtitle Range2",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 1
        }
      ]
    },
    {
      "type": "filter_properties",
      "name": "Filter Properties",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Filtereigenschaften"
        },
        {
          "type": "inline_richtext",
          "id": "title1",
          "label": "Title1",
          "default": "Active"
        },
        {
          "type": "inline_richtext",
          "id": "title2",
          "label": "Title2",
          "default": "Active+"
        },
        {
          "type": "inline_richtext",
          "id": "title3",
          "label": "Title3",
          "default": "Nano"
        },
        {
          "type": "inline_richtext",
          "id": "title4",
          "label": "Title4",
          "default": "Fusion*"
        }
      ]
    },
    {
      "type": "filter_product_set",
      "name": "Filter Product Set",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Untertisch Komplett-Set"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Komplett-Set mit Schlauchstück und Adapter für die Montage am Eckventil.</p>"
        },
        {
          "type": "product",
          "id": "product1",
          "label": "Product1"
        },
        {
          "type": "inline_richtext",
          "id": "text1",
          "label": "Text1"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
        {
          "type": "product",
          "id": "product2",
          "label": "Product2"
        },
        {
          "type": "inline_richtext",
          "id": "text2",
          "label": "Text2"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
        {
          "type": "product",
          "id": "product3",
          "label": "Product3"
        },
        {
          "type": "inline_richtext",
          "id": "text3",
          "label": "Text3"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image3"
        },
        {
          "type": "product",
          "id": "product4",
          "label": "Product4"
        },
        {
          "type": "inline_richtext",
          "id": "text4",
          "label": "Text4"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image4"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>* Die Fusion Variante vereint die Vorteile der Active und Nano Kartusche in einem kompakten doppelstufigen Gehäuse.</p>"
        }
      ]
    },
    {
      "type": "filter_product",
      "name": "Fiter Product",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Untertisch Komplett-Set"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Pro Camper Set"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Compare",
      "blocks": [
        {
          "type": "alb_comparison"
        },
        {
          "type": "filter_properties"
        },
        {
          "type": "filter_product_set"
        },
        {
          "type": "filter_product_set"
        },
        {
          "type": "filter_product_set"
        }
      ]
    }
  ]
}
{% endschema %}
