{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}{% if section.settings.content_full_width %} content_full_width{% endif %}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <{{ block.settings.heading_tag }}
                class="rich-text__heading rte inline-richtext{% if block.settings.remove_spacing %} remove_spacing{% endif %}{% if block.settings.second_font %} second-font{% endif %} {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <span
                  class="rte"
                  style="color: {{ block.settings.color }}; font-weight: {{ block.settings.font_weight }};"
                >
                  {{ block.settings.heading }}
                </span>
              </{{ block.settings.heading_tag }}>
            {%- when 'caption' -%}
              <p
                class="rich-text__caption{% if block.settings.second_font %} second-font{% endif %} {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'subtitle' -%}
              <p
                class="rich-text__subtitle sub_title{% if block.settings.second_font %} second-font{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <span style="color: {{ block.settings.color }}">
                  {{ block.settings.subtitle | escape }}
                </span>
              </p>
            {%- when 'icon' -%}
              <div
                class="rich-text__icon{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.image != blank -%}
                  {%- assign fetch_priority = 'auto' -%}
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}

                  {{
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                  }}
                {%- endif -%}
              </div>
            {%- when 'image' -%}
              <div
                class="rich-text__image{% if block.settings.remove_spacing and block.settings.full_width %} remove_spacing{% endif %}{% if block.settings.top_radius %} top_radius{% endif %}{% if block.settings.bottom_radius %} bottom_radius{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if block.settings.enable_shadow %} image-shadow{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <div
                  class="rich-text__image-wrapper"
                  {% unless block.settings.full_width %}
                    style="max-width: {{ block.settings.image_width }}px"
                  {% endunless %}
                >
                  {%- if block.settings.image != blank -%}
                    {%- assign fetch_priority = 'auto' -%}
                    {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                    {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}

                    {{
                      block.settings.image
                      | image_url: width: 1500
                      | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                    }}
                  {%- endif -%}
                </div>
                {% if block.settings.image_des != blank %}
                  <div
                    class="rich-text__image_des rte center second-font"
                    {% if block.settings.text_color != blank %}
                      style="color: {{ block.settings.text_color }}"
                    {% endif %}
                  >
                    {{ block.settings.image_des }}
                  </div>
                {% endif %}
              </div>
            {%- when 'text' -%}
              <div
                class="rich-text__text{% if block.settings.second_font %} second-font{% endif %} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'small_text' -%}
              {% if block.settings.small_text != blank %}
                <div
                  class="rich-text_small_text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if block.settings.second_font %} second-font{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {{ block.settings.small_text }}
                </div>
              {% endif %}
            {%- when 'button' -%}
              <div
                class="rich-text__buttons{% if block.settings.center %} center{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label | escape -}}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <path fill="currentColor" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path>
                    </svg>
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="btn-second second-font"
                    {% if block.settings.second_btn_color != blank %}
                      style="color: {{ block.settings.second_btn_color }}"
                    {% endif %}
                  >
                    {{- block.settings.button_label_2 | escape -}}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                      <path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                    </svg>
                  </a>
                {%- endif -%}
              </div>
            {%- when 'border' -%}
              <div
                class="rich-text__border{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <div
                  class="rich-text__border-wrapper"
                  {% if block.settings.border_color != blank %}
                    style="background-color: {{ block.settings.border_color }}"
                  {% endif %}
                ></div>
              </div>
            {%- when 'dot_list' -%}
              <div
                class="rich-text__dot-list rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.dot_list }}
              </div>
            {%- when 'icon_content' -%}
              <div
                class="rich-text__icon_content{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {% assign bg_color = block.settings.background_color | color_to_rgb %}
                {% assign opacity = block.settings.background_color_opacity | divided_by: 100.00 %}
                {% assign opacityWithEndBracket = ', ' | append: opacity | append: ')' %}
                {% assign rgba = bg_color | replace: 'rgb', 'rgba' | replace: ')', opacityWithEndBracket %}
                <div
                  class="rich-text__icon_content-wrapper"
                  style="{% if block.settings.background_color != blank %}background-color: {{ rgba }};{% endif %}{% if block.settings.border_color != blank %} border-color: {{ block.settings.border_color }};{% endif %}"
                >
                  {% if block.settings.image != blank %}
                    <div class="rich-text_icon_content_media">
                      {%- assign fetch_priority = 'auto' -%}
                      {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                      {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                      {%- endcapture -%}

                      {{
                        block.settings.image
                        | image_url: width: 1500
                        | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                      }}
                    </div>
                  {% endif %}
                  <div
                    class="rich-text__icon_content-des"
                    {% if block.settings.text_color != blank %}
                      style="color: {{ block.settings.text_color }}"
                    {% endif %}
                  >
                    {% if block.settings.title != blank %}
                      <div class="rich-text__icon_content-title {{ block.settings.heading_size }}">
                        {{ block.settings.title }}
                      </div>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      <div class="rich-text__icon_content-text rte">{{ block.settings.text }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% when 'two_images' %}
              <div
                class="rich-text__two_images{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <div class="rich-text__two_images-wrapper{% if block.settings.image2 != blank %} two_column{% endif %}{% if block.settings.enable_shadow %} column_shadow{% endif %}">
                  {% if block.settings.image1 != blank %}
                    <div class="rich-text__two_images-item">
                      <div class="rich-text__two_images-media">
                        {%- assign fetch_priority = 'auto' -%}
                        {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                        {%- capture sizes -%}
                          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                        {%- endcapture -%}

                        {{
                          block.settings.image1
                          | image_url: width: 1500
                          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                        }}
                      </div>
                      {% if block.settings.text1 != blank %}
                        <div class="rich-text__two_images-text center second-font">
                          {{ block.settings.text1 }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.image2 != blank %}
                    <div class="rich-text__two_images-item">
                      <div class="rich-text__two_images-media">
                        {%- assign fetch_priority = 'auto' -%}
                        {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                        {%- capture sizes -%}
                          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                        {%- endcapture -%}

                        {{
                          block.settings.image2
                          | image_url: width: 1500
                          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                        }}
                      </div>
                      {% if block.settings.text2 != blank %}
                        <div class="rich-text__two_images-text center second-font">
                          {{ block.settings.text2 }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "content_full_width",
      "default": false,
      "label": "Content Full Width"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "remove_spacing",
          "label": "Remove Spacing"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#003e5f"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            }
          ],
          "default": "h2",
          "label": "Heading Tag"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Extra Small"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font Weight",
          "default": "700",
          "options": [
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "second_font",
          "label": "Second Font"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.rich-text.blocks.caption.settings.text.default",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        },
        {
          "type": "checkbox",
          "id": "second_font",
          "label": "Second Font"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.rich-text.blocks.text.settings.text.default",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "second_font",
          "label": "Second Font",
          "default": true
        }
      ]
    },
    {
      "type": "small_text",
      "name": "Small Text",
      "settings": [
        {
          "type": "richtext",
          "id": "small_text",
          "label": "Small Text"
        },
        {
          "type": "checkbox",
          "id": "second_font",
          "label": "Second Font",
          "default": true
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "checkbox",
          "id": "center",
          "label": "Center"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.rich-text.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "color",
          "id": "second_btn_color",
          "label": "Second Button Color",
          "default": "#0081be"
        }
      ]
    },
    {
      "type": "subtitle",
      "name": "Subtitle",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Die Wasserfilter Manufaktur aus Süddeutschland"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#003e5f"
        },
        {
          "type": "checkbox",
          "id": "second_font",
          "label": "Second Font",
          "default": true
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image Width",
          "min": 100,
          "max": 1000,
          "step": 10,
          "default": 700,
          "unit": "px"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full Width"
        },
        {
          "type": "checkbox",
          "id": "remove_spacing",
          "label": "Full width Removing Spacing"
        },
        {
          "type": "checkbox",
          "id": "top_radius",
          "label": "Top Radius"
        },
        {
          "type": "checkbox",
          "id": "bottom_radius",
          "label": "Bottom Radius"
        },
        {
          "type": "checkbox",
          "id": "enable_shadow",
          "label": "Enable Shadow"
        },
        {
          "type": "richtext",
          "id": "image_des",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#616161"
        }
      ]
    },
    {
      "type": "two_images",
      "name": "Two Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
        {
          "type": "inline_richtext",
          "id": "text1",
          "label": "Text1",
          "default": "Aktivkohlegranulat (Tisch- bzw. Kannenfilter)"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
        {
          "type": "inline_richtext",
          "id": "text2",
          "label": "Text2",
          "default": "Gesinterter Aktivkohleblock (Alb Filter)"
        },
        {
          "type": "checkbox",
          "id": "enable_shaow",
          "label": "Enable Shadow"
        }
      ]
    },
    {
      "type": "border",
      "name": "Border",
      "settings": [
        {
          "type": "color",
          "id": "border_color",
          "label": "Border Color",
          "default": "#93d4ff"
        }
      ]
    },
    {
      "type": "dot_list",
      "name": "Dot List",
      "settings": [
        {
          "type": "richtext",
          "id": "dot_list",
          "label": "Dot List"
        }
      ]
    },
    {
      "type": "icon_content",
      "name": "Icon & Content",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "GUT ZU WISSEN!"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Extra Small"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Ob Wasserfilter sinnvoll sind oder nicht, hängt immer von der Art und Qualität des Filters ab!</p>"
        },
        {
          "type": "checkbox",
          "id": "second_font",
          "label": "Enable Text Second Font",
          "default": true
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#93d4ff"
        },
        {
          "type": "range",
          "id": "background_color_opacity",
          "label": "Background Color Opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 7
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#616161"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border Color",
          "default": "#93d4ff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
