{%- liquid
  assign fetch_priority = 'auto'
-%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  #shopify-section-{{ section.id }} .button:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 var(--buttons-border-width) {{ section.settings.btn_bg }};
  }
  #shopify-section-{{ section.id }} .button:hover:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(255,255,255, calc(1 - 1.0 )), 0 0 0 calc(var(--buttons-border-width) + 1px) {{ section.settings.btn_bg }};
    --border-offset: 1.3px;
  }
  #shopify-section-{{ section.id }} .media-small_image_text {
      max-width: {{ section.settings.image_mobile_width }}px;
    margin: 0 auto;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    #shopify-section-{{ section.id }} .media-small_image_text {
        max-width: {{ section.settings.image_width | minus: 15}}px;
    }
    #shopify-section-{{ section.id }} .main-small_image_text {
        max-width: calc(100% - {{ section.settings.image_width | plus: 15 }}px);
    }
  }
{%- endstyle -%}
<div class="section-small_image_text section-{{ section.id }}-padding">
  <div
    class="isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    style="background-color: {{ section.settings.background_color }}"
  >
    <div class="page-width{% if section.settings.content_wrapper %} content-wrapper{% endif %}{% if section.settings.mobile_center %} mobile-center{% endif %}">
      {%- if section.settings.heading != blank -%}
        <{{ section.settings.heading_tag }}
          class="small_image_text-heading inline-richtext{% if section.settings.second_font %} second-font{% endif %} {{ section.settings.heading_size }}"
          style="color: {{ section.settings.heading_color }}; font-weight: {{ section.settings.heading_weight }};"
        >
          {{ section.settings.heading }}
        </{{ section.settings.heading_tag }}>
      {%- endif -%}
      <div class="wrapper-small_image_text{% if section.settings.image_right %} row-reverse{% endif %}">
        <div
          class="media-small_image_text{% if section.settings.image_round %} image_round{% endif %}"
        >
          {%- if section.settings.image != blank -%}
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
            }}
          {%- else -%}
            {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        {%- if section.blocks.size > 0 -%}
          <div class="main-small_image_text">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'heading' -%}
                  <{{ block.settings.heading_tag }}
                    class="small_image_text-title{% if block.settings.second_font %} second-font{% endif %} rte {{ block.settings.heading_size }}"
                    {{ block.shopify_attributes }}
                    style="color: {{ block.settings.heading_color }}; font-weight: {{ block.settings.heading_weight }};"
                  >
                    {{ block.settings.heading }}
                  </{{ block.settings.heading_tag }}>
                {%- when 'text' -%}
                  <div
                    class="small_image_text-text{% if block.settings.second_font %} second-font{% endif %} rte {{ block.settings.text_style }}"
                    {{ block.shopify_attributes }}
                    style="color: {{ block.settings.color }};"
                  >
                    {{ block.settings.text }}
                  </div>
                {%- when 'button' -%}
                  <div class="small_image_text-btn">
                    {%- if block.settings.button_label != blank -%}
                      <a
                        class="{% if block.settings.primary_btn %}button button-primary{% else %}btn-second{% endif %} second-font"
                        href="{{ block.settings.button_link }}"
                        style="color: {{ block.settings.color }};{% if block.settings.primary_btn %} background-color: {{ block.settings.primary_bg }}{% endif %}"
                      >
                        {{- block.settings.button_label -}}
                        {% unless block.settings.primary_btn %}
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/>
                          </svg>
                        {% endunless %}
                      </a>
                    {%- endif -%}
                  </div>
                {%- when 'image' -%}
                  {%- if block.settings.image != blank -%}
                    <div class="small_image_text-image" style="max-width: {{ block.settings.image_width }}px;">
                      {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                      {%- capture sizes -%}
                              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                          {%- endcapture -%}
                      {{
                        block.settings.image
                        | image_url: width: 1500
                        | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                      }}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Small Image Text",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "image_right",
      "label": "Image Right"
    },
    {
      "type": "checkbox",
      "id": "content_wrapper",
      "label": "Content Wrapper"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Font Weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ],
      "default": "400"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#003e5f"
    },
    {
      "type": "checkbox",
      "id": "second_font",
      "label": "Second Font"
    },
    {
      "type": "checkbox",
      "id": "mobile_center",
      "label": "Mobile Content Center"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "Image Width",
      "unit": "px",
      "min": 200,
      "max": 500,
      "step": 5,
      "default": 200
    },
    {
      "type": "range",
      "id": "image_mobile_width",
      "label": "Image Mobile Width",
      "unit": "px",
      "min": 200,
      "max": 500,
      "step": 5,
      "default": 285
    },
    {
      "type": "checkbox",
      "id": "image_round",
      "label": "Image Round"
    },
    {
      "type": "image_picker",
      "id": "content_image",
      "label": "Content Image"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "div",
              "label": "Div"
            }
          ],
          "default": "h3",
          "label": "Heading Tag"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Extra Small"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_weight",
          "label": "Heading Font Weight",
          "options": [
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            }
          ],
          "default": "400"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#003e5f"
        },
        {
          "type": "checkbox",
          "id": "second_font",
          "label": "Second Font",
          "default": true
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#616161"
        },
        {
          "type": "checkbox",
          "id": "second_font",
          "label": "Second Font"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#0081be"
        },
        {
          "type": "checkbox",
          "id": "primary_btn",
          "label": "Primary Button"
        },
        {
          "type": "color",
          "id": "primary_bg",
          "label": "Primary Background Color",
          "default": "#0081be"
        }
      ]
    },
    {
      "type": "image",
      "name": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image Width",
          "min": 50,
          "max": 500,
          "step": 5,
          "default": 120,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Small Image Text",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
