{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% assign unique_id = 'table-' | append: section.id | append: '-' | append: 'now' | date: '%s' %}
{% if section.settings.th1 != blank or section.settings.th2 != blank or section.settings.th3 != blank %}
  <section
    id="{{ unique_id }}"
    class="table-{{ section.id }} page-width section-{{ section.id }}-padding"
  >
    {% if section.settings.table_heading != blank %}
      <{{ section.settings.heading_tag }}
        class="table-heading {{ section.settings.heading_size }}{% if section.settings.heading_second_font %} second-font{% endif %}"
        style="font-weight: {{ section.settings.heading_weight }}; text-align: {{ section.settings.heading_alignment }}; margin-bottom: 20px; color: {{ section.settings.heading_color }};"
      >
        {{ section.settings.table_heading }}
      </{{ section.settings.heading_tag }}>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>{{ section.settings.th1 }}</th>
          <th class="narrow">{{ section.settings.th2 }}</th>
          <th>{{ section.settings.th3 }}</th>
        </tr>
      </thead>
      <tbody>
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            <tr>
              <td>{{ block.settings.col1 }}</td>
              <td class="narrow center">{{ block.settings.col2 }}</td>
              <td>{{ block.settings.col3 }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </section>
  <style>
    #{{ unique_id }} {
      font-family: 'Amsi Light', sans-serif;
      font-size: 13px;
    }
    #{{ unique_id }} a {
      color: #0081be;
    }
    #{{ unique_id }} table {
      width: 100%;
      border-collapse: collapse;
    }
    #{{ unique_id }} thead tr th {
      background: {{ section.settings.color_th_background | default: '#eee' }};
      color: {{ section.settings.color_th_text | default: '#fff' }};
      text-align: left;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 300;
      padding: {{ section.settings.padding_th | default: '10px' }} 0;
      padding-left: {{ section.settings.padding_th | default: '10px' }};
      padding-right: {{ section.settings.padding_th | default: '10px' }};
      border: {{ section.settings.border_width | default: '1px' }} solid {{ section.settings.border_color | default: '#000' }};
    }
    #{{ unique_id }} tbody tr td {
      background: {{ section.settings.color_even | default: '#fff' }};
      color: {{ section.settings.color_even_text | default: '#000' }};
      padding: 0;
      padding-left: {{ section.settings.padding_td | default: '10px' }};
      padding-right: {{ section.settings.padding_td | default: '10px' }};
      border: {{ section.settings.border_width | default: '1px' }} solid {{ section.settings.border_color | default: '#000' }};
    }
    #{{ unique_id }} tbody tr:nth-child(odd) td {
      background: {{ section.settings.color_odd | default: '#fff' }};
      color: {{ section.settings.color_odd_text | default: '#000' }};
    }
    #{{ unique_id }} th.narrow, #{{ unique_id }} td.narrow {
      width: 50px;
    }
    #{{ unique_id }} td.center {
      text-align: center;
    }
  </style>
{% endif %}
{% schema %}
{
  "name": "Table",
  "settings": [
    {
      "type": "text",
      "id": "table_heading",
      "label": "Table Heading"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2"
    },
    {
      "type": "range",
      "id": "heading_weight",
      "label": "Heading Font Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Font Size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#003e5f"
    },
    {
      "type": "checkbox",
      "id": "heading_second_font",
      "label": "Heading Second Font"
    },
    {
      "type": "text",
      "id": "th1",
      "label": "TH1"
    },
    {
      "type": "text",
      "id": "th2",
      "label": "TH2"
    },
    {
      "type": "text",
      "id": "th3",
      "label": "TH3"
    },
    {
      "type": "color",
      "id": "color_th",
      "label": "TH color"
    },
    {
      "type": "color",
      "id": "color_th_text",
      "label": "TH text color"
    },
    {
      "type": "color",
      "id": "color_th_background",
      "label": "TH background color"
    },
    {
      "type": "color",
      "id": "color_even",
      "label": "Even row color"
    },
    {
      "type": "color",
      "id": "color_even_text",
      "label": "Even row text color"
    },
    {
      "type": "color",
      "id": "color_odd",
      "label": "Odd row color"
    },
    {
      "type": "color",
      "id": "color_odd_text",
      "label": "Odd row text color"
    },
    {
      "type": "text",
      "id": "padding_th",
      "label": "Header padding",
      "default": "10px"
    },
    {
      "type": "text",
      "id": "padding_td",
      "label": "Cell padding",
      "default": "10px"
    },
    {
      "type": "text",
      "id": "border_width",
      "label": "Border width",
      "default": "1px"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "rows",
      "name": "Row",
      "settings": [
        {
          "type": "richtext",
          "id": "col1",
          "label": "Col 1"
        },
        {
          "type": "richtext",
          "id": "col2",
          "label": "Col 2"
        },
        {
          "type": "richtext",
          "id": "col3",
          "label": "Col 3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Table",
      "blocks": []
    }
  ]
}
{% endschema %}
