{%- liquid
  assign fetch_priority = 'auto'
-%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="section-two_column_content section-{{ section.id }}-padding">
  <div class="page-width">
    <div
      class="wrapper-two_column_content isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if section.settings.full_width %} full_width{% endif %}{% if section.blocks.size > 1 %} two_columns{% endif %}"
    >
      {% for block in section.blocks %}
        {% assign bg_color = block.settings.background_color | color_to_rgb %}
        {% assign opacity = block.settings.background_color_opacity | divided_by: 100.00 %}
        {% assign opacityWithEndBracket = ', ' | append: opacity | append: ')' %}
        {% assign rgba = bg_color | replace: 'rgb', 'rgba' | replace: ')', opacityWithEndBracket %}
        {% style %}
          #{{block.id}} a {
              color: {{ block.settings.color }}
          }
        {% endstyle %}
        <div
          id="{{block.id}}"
          class="item-two_column_content"
          style="
            {% if block.settings.border_color != blank %}border-color: {{ block.settings.border_color }};{% endif %}
            {% if block.settings.background_color != blank %} background-color: {{ rgba }};{% endif %}
            {% if block.settings.color != blank %} color: {{ block.settings.color }};{% endif %}
          "
        >
          {% if block.settings.heading != blank %}
            <{{ section.settings.heading_tag }}
              class="heading-two_column_content {{ section.settings.heading_size }} rte{% if section.settings.heading_second_font %} second-font{% endif %}"
              style="font-weight: {{ section.settings.heading_weight }}"
            >
              {{ block.settings.heading }}
            </{{ section.settings.heading_tag }}>
          {% endif %}
          {% if block.settings.content != blank %}
            <div
              class="content-two_column_content rte{% if section.settings.content_second_font %} second-font{% endif %}"
            ></div>
          {% endif %}
          {% if block.settings.bottom_content != blank %}
            <div class="bottom_content-two_column_content rte{% if section.settings.bottom_content_second_font %} second-font{% endif %}">
              {{ block.settings.bottom_content }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Two Column Content",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable Full Width"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Font Weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ],
      "default": "700"
    },
    {
      "type": "checkbox",
      "id": "heading_second_font",
      "label": "Heading Second Font"
    },
    {
      "type": "checkbox",
      "id": "content_second_font",
      "label": "Content Second Font",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "bottom_content_second_font",
      "label": "Bottom Content Second Font",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<p>Ein Aktivkohleblock <br><strong>filtert</strong></p>"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<ul><li>Chlor</li></ul>"
        },
        {
          "type": "richtext",
          "id": "bottom_content",
          "label": "Bottom Content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Content Color",
          "default": "#93d4ff"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border Color",
          "default": "#93d4ff"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#93d4ff"
        },
        {
          "type": "range",
          "id": "background_color_opacity",
          "label": "Background Color Opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 7
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Column Content",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
