{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  #shopify-section-{{ section.id }} .button:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 var(--buttons-border-width) {{ section.settings.first_btn_color }};
  }
  #shopify-section-{{ section.id }} .button:hover:after {
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(255,255,255, calc(1 - 1.0 )), 0 0 0 calc(var(--buttons-border-width) + 1px) {{ section.settings.first_btn_color }};
    --border-offset: 1.3px;
  }
{%- endstyle -%}
{%- assign fetch_priority = 'auto' -%}
<div class="section-two_products section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="page-width">
    {%- if section.settings.heading != blank -%}
      <{{ section.settings.heading_tag }}
        class="two-products__heading rte {{ section.settings.heading_size }}{% if section.settings.heading_second_font %} second-font{% endif %}"
        style="color: {{ section.settings.color }}; font-weight: {{ section.settings.heading_weight }};"
      >
        {{ section.settings.heading }}
      </{{ section.settings.heading_tag }}>
    {%- endif -%}
    {%- if section.blocks.size > 0 -%}
      <div class="two-products-list">
        {%- for block in section.blocks -%}
          <div class="two-products-item" style="background-color: {{ section.settings.content_bg }}">
            <div class="two-products-image" style="background-color: {{ section.settings.img_bg }}">
              {%- if block.settings.image_url != blank -%}
                <a href="{{ block.settings.image_url }}">
              {%- endif -%}
              {%- if block.settings.image != blank -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                  {%- endcapture -%}

                {{
                  block.settings.image
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
              {%- if block.settings.image_url != blank -%}
                </a>
              {%- endif -%}
            </div>
            <div class="two-products-content">
              {%- if block.settings.content_url != blank -%}
                <a href="{{ block.settings.content_url }}">
              {%- endif -%}
              {% if block.settings.heading != blank %}
                <{{ block.settings.heading_tag }}
                  class="two-products-item_heading {{ block.settings.heading_size }}{% if block.settings.heading_second_font %} second-font{% endif %}"
                  style="color: {{ section.settings.title_color }}; font-weight: {{ block.settings.heading_weight }}"
                >
                  {{ block.settings.heading }}
                </{{ block.settings.heading_tag }}>
              {% endif %}
              {% if block.settings.text != blank %}
                <div
                  class="two-products-item_text rte{% if block.settings.text_second_font %} second-font{% endif %}"
                  style="color: {{ section.settings.text_color }};"
                >
                  {{ block.settings.text }}
                </div>
              {% endif %}
              {%- if block.settings.content_url != blank -%}
                </a>
              {%- endif -%}
              {%- if block.settings.first_btn != blank or block.settings.second_btn != blank -%}
                <div class="two-products-btns">
                  {%- if block.settings.first_btn != blank -%}
                    <a
                      {% if block.settings.first_btn_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.first_btn_url }}"
                      {% endif %}
                      class="button button--primary"
                      style="background-color: {{ section.settings.first_btn_bg }}; color: {{ section.settings.first_btn_color }}"
                    >
                      {{- block.settings.first_btn | escape -}}
                      {%- if block.settings.btn_icon == 'cart' -%}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                          <path fill="currentColor" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path>
                        </svg>
                      {%- elsif block.settings.btn_icon == 'email' -%}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <path fill="currentColor" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                        </svg>
                      {%- endif -%}
                    </a>
                  {%- endif -%}
                  {%- if block.settings.second_btn != blank -%}
                    <a
                      href="{{ block.settings.second_btn_url }}"
                      class="btn-second second-font"
                      style="color: {{ section.settings.second_btn_color }}"
                    >
                      {{- block.settings.second_btn | escape -}}
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                      </svg>
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "Two Products",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 2,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
      "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Heading Color",
      "default": "#003e5f"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "Extra Small"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Font Weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        }
      ],
      "default": "700"
    },
    {
      "type": "checkbox",
      "id": "heading_second_font",
      "label": "Heading Second Font"
    },
    {
      "type": "header",
      "content": "Product Color"
    },
    {
      "type": "color",
      "id": "img_bg",
      "label": "Image Backgroud Color",
      "default": "#f2f2f2"
    },
    {
      "type": "color",
      "id": "content_bg",
      "label": "Content Backgroud Color",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#003e5f"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#616161"
    },
    {
      "type": "color",
      "id": "first_btn_color",
      "label": "First Button Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "first_btn_bg",
      "label": "First Button Background Color",
      "default": "#0081be"
    },
    {
      "type": "color",
      "id": "second_btn_color",
      "label": "Second Button Color",
      "default": "#0081be"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Image URL"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "p",
              "label": "P"
            }
          ],
          "default": "h2",
          "label": "Heading Tag"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Extra Small"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_weight",
          "label": "Heading Font Weight",
          "options": [
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            }
          ],
          "default": "700"
        },
        {
          "type": "checkbox",
          "id": "heading_second_font",
          "label": "Heading Second Font"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Unser Wasserfilter direkt am Wasserhahn. Mit praktischer Umschaltfunktion zum Wechsel zwischen gefiltertem und ungefiltertem Leitungswasser.</p>"
        },
        {
          "type": "checkbox",
          "id": "text_second_font",
          "label": "Text Second Font",
          "default": false
        },
        {
          "type": "url",
          "id": "content_url",
          "label": "Content URL"
        },
        {
          "type": "text",
          "id": "first_btn",
          "label": "First Button Text",
          "default": "Kaufen"
        },
        {
          "type": "url",
          "id": "first_btn_url",
          "label": "First Button URL"
        },
        {
          "type": "select",
          "id": "btn_icon",
          "label": "Button Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "cart",
              "label": "Cart"
            },
            {
              "value": "email",
              "label": "Email"
            }
          ],
          "default": "cart"
        },
        {
          "type": "text",
          "id": "second_btn",
          "label": "Second Button Text",
          "default": "Mehr erfahren"
        },
        {
          "type": "url",
          "id": "second_btn_url",
          "label": "Second Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Products",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
